<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IPv6 Subnet Planner</title>
</head>
<body>
    <h2>IPv6 Subnet Planner</h2>
    <br>
    <br>
    <h3>This IPv6 Subnet Planner takes the input prefix and subnet size and outputs a "plan" for allocateing IPv6 subnets with a user-specified prefix length. This can be useful for visualizing the subnets and for importing them into other things for more effective use.
    The putput can be quite large, so be mindful of the server resources as large numbers of prefixes may time out or take for-ev-er. 
    </h3>
    <br>
    <br>
    <form action="/api/subnet" method="post">
        <label for="subnet">IPv6 Prefix:</label>
        <input type="text" id="subnet" name="subnet" placeholder="3ffe:1::/32" required>
        
        <label for="prefix">New Prefix Size:</label>
        <input type="number" id="prefix" name="prefix" min="16" max="128" required>
        
        <button type="submit">Submit</button>
    </form>

    <h3>This page is generate by v6-subnet-planner, an open source project, freely usable and for which code can be found <a href=https://github.com/buraglio/ipv6-subnet-planner>here</a></h3>
    